@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* navbar */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}
input{
  margin-left: 50px !important;
  border-width: 2px;
}
.form{
  margin-top: 10px;
}
.input-name{
  margin-left: 81px !important;
}
.input-age{
  margin-left: 99px !important;
}
.input-select{
  margin-left: 50px !important;
  border-width: 2px;
}
.btn-simpan{
  margin-left: 110px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.form-operator{
  width: 110px;
  height: 30px;
  margin-left: 30px;
  border-width: 2px;
  padding:1px
}
.text-kalkulator{
  text-align: center;
}
.input-login{
  margin-left: 0px !important;
}